/* menu */

.menu {
    padding: 0 45px;
    font-size: 0;
    background: #3e5cca;
}

.menu li {
  display: inline-block;
}

.menu li a {
    display: inline-block;
    padding: 20px 40px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.menu .active a {
    background: #e0e0e0d8;
    color: #3e5cca;
}